body {
    background-color: #f8f9fa;
}

h2{
    color: #FFC107;
}

.imge-bg{
    background-image: url(./img/movie-background-collag.jpg);
    padding: 60px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.container{
    margin: 0 auto;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 300 px;
    object-fit: cover;
}

#result {
    margin-top: 20px;
}